<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
    <title>XSS Demo</title>
    {% endblock %}
    <script src="https://kit.fontawesome.com/2bd72336da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="container vertical">
    <header class="banner">
        <div class="banner-contents container align-center">
            <h1 class="flex-grow">DocuZone</h1>
            {% block header %}
            {% if user %}
            <h2 class="username"><i class="fas fa-user"></i> {{ user.username }}</h2>
            <a href="logout">
                <button id="logout"><i class="fas fa-user-slash"></i>Log out</button>
            </a>
            {% endif %}
            {% endblock %}
        </div>
    </header>
    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>
</body>
</html>