<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
    <title>XSS Demo</title>
    {% endblock %}
    <script src="https://kit.fontawesome.com/2bd72336da.js" crossorigin="anonymous"></script>
    <script src="/static/js/vuln_settings.js" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="container vertical">
    <header class="banner">
        <div class="banner-contents container align-center">
            <h1 class="flex-grow">DocuZone</h1>
            {% block header %}
            {% if user %}
            <h2 class="username"><i class="fas fa-user"></i> {{ user.username }}</h2>
            <a href="logout">
                <button id="logout"><i class="fas fa-user-slash"></i>Log out</button>
            </a>
            {% endif %}
            {% endblock %}
        </div>
    </header>
    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>
    <footer>
        <h3>Vulnerabilities enabled</h3>
        <form action="/vulns" method="POST">
            <input type="checkbox" name="xss" class="autosubmit" {{ "checked" if xss_enabled  else "" }}>Cross-Site Scripting (XSS)</input>
            <input type="checkbox" name="csrf" class="autosubmit" {{ "checked" if csrf_enabled else "" }}>Cross-Site Request Forgery (CSRF)</input>
            <!-- <input type="checkbox" name="sqli" {{ "checked" if sqli_enabled else "" }}>SQL Injection</input> -->
        </form>
    </footer>
</body>
</html>